<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="tao1DB" connectionString="Server=den1.mssql8.gear.host;Database=tao1;User Id=tao1;Password=Nm42Y2xh~Tr!;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>